{% extends 'home_without_footer.html' %}


{% block title %}Register{% endblock %}

{% block content %}
<div class="card custom-card p-4" style="max-width: 500px; margin: auto;">
    <h2>Register</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Username</label>
            <input class="form-control" type="text" name="username" required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input class="form-control" type="email" name="email" required>
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input class="form-control" type="password" name="password" required>
        </div>

        <button class="btn btn-success w-100">Register</button>

    </form>
</div>
{% endblock %}

